@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .btn{
      @apply bg-black text-white py-2 px-4 rounded-full inline-block mt-10 font-medium hover:bg-transparent hover:text-black hover:border-black hover:border transition duration-200
  }
}

.loader span {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.loader span:nth-child(2) {
  animation-delay: 50ms;
}
.loader span:nth-child(3) {
  animation-delay: 150ms;
}

